################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/PolymorphismDemo/bin/Debug
/PolymorphismDemo/obj/Debug
*.sln
*.csproj
